body {
    background-color: rgb(247, 247, 247);
    font-family:'Courier New', Courier, monospace;
    color:rgb(27, 27, 27);
    margin:0px;
}

header {
    background-color: #000462;
    color:rgb(255, 255, 255);
    height:50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.headeritems { 
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

img {padding:5px;}

.headerbuttons {
    padding:10px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

div:first-child img:first-child:hover {
    cursor:pointer;
    background-color: black;
}

.headerbuttons:hover {
    color:#262cd4;
    cursor:pointer;
}

.content {
    padding-top: 40px;
    display:flex;
    flex-direction:row;
    justify-items:center;
    flex-wrap:nowrap;
}

.feedback {
    width:fit-content;
    margin-left:12%;
    margin-right: 10px;
}

table {
    background-color: white;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgb(219, 219, 219);
    border-collapse: collapse;
    width: 100%;
}


th {
    padding:10px;
    color:rgb(134, 134, 134);
    font-style: normal;
    font-size: 80%;
    text-align: left;
}

td {
    padding:10px;
    margin:10px;
}


tr:nth-child(2) td:last-child {
    color: white;
    padding:10px;
    background-color:rgb(131, 218, 131);
    border-radius: 5px;
    margin:10px;
}

tr:last-child td:last-child {
    color: white;
    padding:10px;
    background-color:rgb(131, 218, 131);
    border-radius: 5px;
    margin:10px;
}

tr:nth-child(2) td:last-child:hover {
    cursor:pointer;
    background-color:rgb(88, 150, 88);
}

tr:last-child td:last-child:hover {
    cursor:pointer;
    background-color:rgb(88, 150, 88);
}


tr {
    border-bottom: 1px solid #ccc;
    margin:10px;
    padding:10px;
}

div.over {
    background-color: white;
    width:25%;
    padding: 10px;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0px 2px 2px rgb(219, 219, 219);
    margin-right:12%;
    margin-left:10px;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

.headeritems p.level {
    padding: 10px 40px 10px 40px;
    background-color:rgb(0, 209, 209);
    border-radius: 5px;
    border-left: 10px solid rgb(0, 109, 160);
}

#profile {
    border-radius: 50%;
    object-fit: cover;
}
